.site-header {
    padding: 77px 0 130px;
    background-color: #014E56;
}


.site-header__inner {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
}

.navbar {
    margin: 0 0 0 80px;
}

.navbar__list {
    @include unlist;
    display: flex;
}

.navbar__item+.navbar__item {
    margin-left: 40px;
}

.navbar__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
}

.mainbtn {
    margin-left: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
    display: inline-block;
    padding: 9px 33px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    transition: all .2s ease;

    &:hover {
        color: #002529;
        background-color: #FFF;
    }
}