.stories {
    background-color: #004147;
    background-image: url('../../images/stories-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.stories__inner {
    padding: 140px 0 151px;
}

.textbox-stories {
    width: 100%;
    max-width: 932px;
    margin: 0 auto;
}

.stories__title {
    margin: 0 0 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFF;
}

.textblue {
    color: #79C8C7;
}

.stories__list {
    @include unlist;
    display: flex;
    justify-content: space-between;
}

.stories__item {
    padding: 35px 0 0;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/“.svg');
    background-repeat: no-repeat;
    background-position: top center;
}

.stoitem__text {
    margin: 0 0 24px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
}

.stoitem__name {
    margin: 0 0 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

.stoitem__job {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFF;
}

@media only screen and(max-width:786px) {
    .stories {
        background-image: none;
        background-image: url('../../images/stor-bg_mobile.svg'), url('../../images/stor-bg_mobile2.svg');
        background-repeat: no-repeat;
        background-position: top left, bottom right;

    }

    .stories__inner {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textbox-stories {
        max-width: 573px;
    }

    .stories__title {
        font-size: 32px;
        line-height: 32px;
    }

    .stories__list {
        flex-direction: column;
    }
    .stories__item:not(:last-child){
        margin-bottom: 48px;
    }

    
}